/*
 * Sematext Cloud API
 *
 * API Explorer provides access and documentation for Sematext REST API. The REST API requires the API Key to be sent as part of `Authorization` header. E.g.: `Authorization : apiKey e5f18450-205a-48eb-8589-7d49edaea813`.
 *
 * API version: v3
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package stcloud

import (
	"context"
	"fmt"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"

	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type TagAPIControllerAPIService service

/*
TagAPIControllerAPIService Gets tag names for the given application identifiers appearing in the given time frame.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param addIDs addIDs
 * @param optional nil or *TagAPIControllerAPIGetTagNamesUsingGETOpts - Optional Parameters:
     * @param "From" (optional.Int64) -  from
     * @param "To" (optional.Int64) -  to
     * @param "Metrics" (optional.Bool) -  metrics
     * @param "Logs" (optional.Bool) -  logs
     * @param "Events" (optional.Bool) -  events
     * @param "Rum" (optional.Bool) -  rum
@return TagNamesResponse
*/

type TagAPIControllerAPIGetTagNamesUsingGETOpts struct {
	From    optional.Int64
	To      optional.Int64
	Metrics optional.Bool
	Logs    optional.Bool
	Events  optional.Bool
	Rum     optional.Bool
}

func (a *TagAPIControllerAPIService) GetTagNamesUsingGET(ctx context.Context, addIDs string, localVarOptionals *TagAPIControllerAPIGetTagNamesUsingGETOpts) (TagNamesResponse, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue TagNamesResponse
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/spm-reports/api/v3/apps/{addIDs}/tagNames"
	localVarPath = strings.Replace(localVarPath, "{"+"addIDs"+"}", fmt.Sprintf("%v", addIDs), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.From.IsSet() {
		localVarQueryParams.Add("from", parameterToString(localVarOptionals.From.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.To.IsSet() {
		localVarQueryParams.Add("to", parameterToString(localVarOptionals.To.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Metrics.IsSet() {
		localVarQueryParams.Add("metrics", parameterToString(localVarOptionals.Metrics.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Logs.IsSet() {
		localVarQueryParams.Add("logs", parameterToString(localVarOptionals.Logs.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Events.IsSet() {
		localVarQueryParams.Add("events", parameterToString(localVarOptionals.Events.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Rum.IsSet() {
		localVarQueryParams.Add("rum", parameterToString(localVarOptionals.Rum.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key

		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v TagNamesResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/*
TagAPIControllerAPIService Gets values for specified tags for the given application identifiers appearing in the given time frame.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param addIDs addIDs
 * @param tag tag
 * @param optional nil or *TagAPIControllerAPIGetUsingGET2Opts - Optional Parameters:
     * @param "From" (optional.Int64) -  from
     * @param "To" (optional.Int64) -  to
     * @param "Metrics" (optional.Bool) -  metrics
     * @param "Logs" (optional.Bool) -  logs
     * @param "Events" (optional.Bool) -  events
     * @param "Rum" (optional.Bool) -  rum
@return map[string]Dimension
*/

type TagAPIControllerAPIGetUsingGET2Opts struct {
	From    optional.Int64
	To      optional.Int64
	Metrics optional.Bool
	Logs    optional.Bool
	Events  optional.Bool
	Rum     optional.Bool
}

func (a *TagAPIControllerAPIService) GetUsingGET2(ctx context.Context, addIDs string, tag []string, localVarOptionals *TagAPIControllerAPIGetUsingGET2Opts) (map[string]Dimension, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue map[string]Dimension
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/spm-reports/api/v3/apps/{addIDs}/metrics/filters"
	localVarPath = strings.Replace(localVarPath, "{"+"addIDs"+"}", fmt.Sprintf("%v", addIDs), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.From.IsSet() {
		localVarQueryParams.Add("from", parameterToString(localVarOptionals.From.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.To.IsSet() {
		localVarQueryParams.Add("to", parameterToString(localVarOptionals.To.Value(), ""))
	}
	localVarQueryParams.Add("tag", parameterToString(tag, "multi"))
	if localVarOptionals != nil && localVarOptionals.Metrics.IsSet() {
		localVarQueryParams.Add("metrics", parameterToString(localVarOptionals.Metrics.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Logs.IsSet() {
		localVarQueryParams.Add("logs", parameterToString(localVarOptionals.Logs.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Events.IsSet() {
		localVarQueryParams.Add("events", parameterToString(localVarOptionals.Events.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Rum.IsSet() {
		localVarQueryParams.Add("rum", parameterToString(localVarOptionals.Rum.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key

		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v map[string]Dimension
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/*
TagAPIControllerAPIService Gets values for specified tags for the given application identifiers appearing in the given time frame.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param addIDs addIDs
 * @param tag tag
 * @param optional nil or *TagAPIControllerAPIGetUsingGET3Opts - Optional Parameters:
     * @param "From" (optional.Int64) -  from
     * @param "To" (optional.Int64) -  to
     * @param "Metrics" (optional.Bool) -  metrics
     * @param "Logs" (optional.Bool) -  logs
     * @param "Events" (optional.Bool) -  events
     * @param "Rum" (optional.Bool) -  rum
@return map[string]Dimension
*/

type TagAPIControllerAPIGetUsingGET3Opts struct {
	From    optional.Int64
	To      optional.Int64
	Metrics optional.Bool
	Logs    optional.Bool
	Events  optional.Bool
	Rum     optional.Bool
}

func (a *TagAPIControllerAPIService) GetUsingGET3(ctx context.Context, addIDs string, tag []string, localVarOptionals *TagAPIControllerAPIGetUsingGET3Opts) (map[string]Dimension, *http.Response, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarReturnValue map[string]Dimension
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/spm-reports/api/v3/apps/{addIDs}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"addIDs"+"}", fmt.Sprintf("%v", addIDs), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.From.IsSet() {
		localVarQueryParams.Add("from", parameterToString(localVarOptionals.From.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.To.IsSet() {
		localVarQueryParams.Add("to", parameterToString(localVarOptionals.To.Value(), ""))
	}
	localVarQueryParams.Add("tag", parameterToString(tag, "multi"))
	if localVarOptionals != nil && localVarOptionals.Metrics.IsSet() {
		localVarQueryParams.Add("metrics", parameterToString(localVarOptionals.Metrics.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Logs.IsSet() {
		localVarQueryParams.Add("logs", parameterToString(localVarOptionals.Logs.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Events.IsSet() {
		localVarQueryParams.Add("events", parameterToString(localVarOptionals.Events.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Rum.IsSet() {
		localVarQueryParams.Add("rum", parameterToString(localVarOptionals.Rum.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if ctx != nil {
		// API Key Authentication
		if auth, ok := ctx.Value(ContextAPIKey).(APIKey); ok {
			var key string
			if auth.Prefix != "" {
				key = auth.Prefix + " " + auth.Key
			} else {
				key = auth.Key
			}
			localVarHeaderParams["Authorization"] = key

		}
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v map[string]Dimension
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
